<section class="about-us">
  <div class="container">
   
      <ul class="about-list">
        <li class="about-item">
            <div class="about-us-cr">
          <div class="about-item-btn">
            <svg class="about-icon" width="32" height="32">
              <USE href="./img/icons.svg#icon-chocolate-bar"></USE>
            </svg>
          </div>
          <h3 class="about-title">Unsurpassed taste</h3>
          <p class="about-subtext">
            Crafted with the finest quality cocoa beans and a dedication to
            perfection, each bite is a decadent experience that simply cannot be
            matched. Savor the richness and complexity of our Unsurpassed Taste
            and discover a new level of chocolate bliss.
          </p></div>
        </li>
        <li class="about-item">
            <div class="about-us-cr">
          <div class="about-item-btn">
            <svg class="about-icon" width="32" height="32">
              <USE href="./img/icons.svg#icon-Coin"></USE>
            </svg>
          </div>
          <h3 class="about-title">Affordable price</h3>

          <p class="about-subtext">
            Indulge in high-quality chocolate without breaking the bank with
            Simply Chocolate's selection of affordable treats. Enjoy
            mouth-watering truffles and velvety chocolate bars without
            sacrificing taste or quality. Browse our selection and indulge in
            affordable luxury today.
          </p>
        </li>
        <li class="about-item">
            <div class="about-us-cr">
          <div class="about-item-btn">
            <svg class="about-icon" width="32" height="32">
              <USE href="./img/icons.svg#icon-la_utensil-spoon"></USE>
            </svg>
          </div>
          <h3 class="about-title">Own production</h3>
          <p class="about-subtext">
            We take pride in our own production process, ensuring that every
            step is carefully crafted to perfection. From selecting the finest
            ingredients to handcrafting each piece, our attention to detail is
            evident in every bite.
          </p>
        </li>
        <li class="about-item visually-hidden"></li>
      </ul>
    </div>
  </div>
</section>
