<section id="go-catalog" class="catalog">
  <div class="container">
    <h2 class="catalog-title">
      OUR<span class="catalog-title-color">PRODUCTS</span>
    </h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im1-mob.webp   1x,
                ./img/catalog/im1-mob2x.webp 2x
              "
              src="./img/catalog/im1-mob.webp"
              alt="orange "
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">ORANGE</h3>
            <p class="catalog-text section">Dark chocolate</p>
            <p class="catalog-text section">45 UAH</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im2-mob.webp   1x,
                ./img/catalog/im2-mob2x.webp 2x
              "
              src="./img/catalog/im2-mob.webp"
              alt="APPLE&CRANBERRY"
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">APPLE&CRANBERRY</h3>
            <p class="catalog-text section">Milk chocolate</p>
            <p class="catalog-text section">50 UAH</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im3-mob.webp   1x,
                ./img/catalog/im3-mob2x.webp 2x
              "
              src="./img/catalog/im3-mob.webp"
              alt="LIME&SEA SALT"
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">LIME&SEA SALT</h3>
            <p class="catalog-text section">Dark chocolate</p>
            <p class="catalog-text section">66 UAH</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im4-mob.webp   1x,
                ./img/catalog/im4-mob2x.webp 2x
              "
              src="./img/catalog/im4-mob.webp"
              alt="PINEAPPLE"
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">PINEAPPLE</h3>
            <p class="catalog-text section">Dark chocolate</p>
            <p class="catalog-text section">54 UAH</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im5-mob.webp   1x,
                ./img/catalog/im5-mob2x.webp 2x
              "
              src="./img/catalog/im5-mob.webp"
              alt="Classic"
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">Classic</h3>
            <p class="catalog-text section">Milk chocolate</p>
            <p class="catalog-text section">45 UAH</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im6-mob.webp   1x,
                ./img/catalog/im6-mob2x.webp 2x
              "
              src="./img/catalog/im6-mob.webp"
              alt="HONEY"
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">HONEY</h3>
            <p class="catalog-text section">Milk chocolate</p>
            <p class="catalog-text section">50 UAH</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im7-mob.webp   1x,
                ./img/catalog/im7-mob2x.webp 2x
              "
              src="./img/catalog/im7-mob.webp"
              alt="ROASTED FRUITS"
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">ROASTED FRUITS</h3>
            <p class="catalog-text section">Dark chocolate</p>
            <p class="catalog-text section">66 UAH</p>
          </div>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-container-nev">
          <div class="catalog-picture-box">
            <img
              srcset="
                ./img/catalog/im8-mob.webp   1x,
                ./img/catalog/im8-mob2x.webp 2x
              "
              src="./img/catalog/im8-mob.webp"
              alt="Classic"
              width="230"
              class="catalog-item-img"
            />
          </div>
          <div class="catalog-cont-text">
            <h3 class="catalog-subtitle">CLASSIC</h3>
            <p class="catalog-text section">White chocolate</p>
            <p class="catalog-text section">54 UAH</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
