<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="" class="header-logo">
        <span class="header-logo-part">SIMPLY</span> CHOCOLATE
        <img
          class="header-img"
          src="./img/logo.svg"
          alt="logo"
          width="24"
          height="24"
        />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href=""> Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">How it’s made?</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a class="header-soc-link" href="#" target="_blank">
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a class="header-soc-link" href="#" target="_blank">
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a class="header-soc-link" href="#" target="_blank">
          <svg class="header-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter-1"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="header-menu-btn" type="button">
      <svg class="header-menu-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu">
    <button class="mob-close-btn" type="button">
      <svg class="header-menu-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mob-nav-list">
      <li class="mob-nav-item">
        <a class="mob-nav-link active" href="">Home </a>
      </li>
      <li class="mob-nav-item">
        <a class="mob-nav-link" href="">How it’s made? </a>
      </li>
      <li class="mob-nav-item">
        <a class="mob-nav-link" href="">Chocolate is loved </a>
      </li>
    </ul>
    <ul class="mob-soc-list">
      <li class="mob-soc-item">
        <a class="mob-soc-link" href="#" target="_blank">
          <svg class="mob-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mob-soc-item">
        <a class="mob-soc-link" href="#" target="_blank">
          <svg class="mob-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-soc-item">
        <a class="mob-soc-link" href="#" target="_blank">
          <svg class="mob-soc-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter-1"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
