<section class="hero">
  <div class="container hero-container">
    <div class="hero-container-item">
      <div class="hero-text-container ">
        <div class="hero-text-container-wrap ">
        <h1 class="hero-title">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h1></div>
    <div class="hero-buttons">
    <button class="hero-btn" type="button">Buy now</button>
    <a href="" class="hero-ancor-link">How it’s made </a>
    <div class="hero-btn-scrol-svg">
    <a href="#footer-anchor" class="hero-button-scr">Scroll down</a>
    <button class="hero-btn-scrol" type="button">
        <svg class="hero-bpt-scrol-icon" width="22" height="2">
          <use href="./img/icon-fi-rr-angle-small-left"></use>
        </svg>
      </button>
      </div>
    </div>
</div>
  </div>
</section>
