<section class="made" id="go-made">
  <div class="container">
    <div class="sub-container">
    <h2 class="made-title">HOW IT’S <span class="made-title-color">MADE?</span></h2>
       
      <div class="made-wrap">
            <picture>
              <source
                srcset="
                  ./img/made/des-image.webp    1x,
                  ./img/made/des-image2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                ./img/made/tab-image.webp 1x, 
                ./img/made/tab-image2x.webp 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./img/made/mob-image.webp 1x, 
                ./img/made/mob-image2x.webp 2x"
                media="(max-width: 767px)"
              />
              <img
                src="../img/made/des-image.webp"
                alt="How it’s made?"
                width="600"
                class="made-img"
              />
            </picture>
          
             <ul class="made-unit-list">
              <li class="made-unit-item"> 
                <p class="made-sub-title"> Try  our chocolates today and discover the perfect balance of flavor</p> 
              </li>
          <li class="made-unit-item">
            <svg class="header-soc-icon" width="8" height="8">
              <use href="./img/icons.svg#icon-Ellipse-1-1"></use>
            </svg>
            <p>
              Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
            </p>
          </li>
              <li class="made-unit-item">
                <svg class="header-soc-icon" width="8" height="8">
                  <use href="./img/icons.svg#icon-Ellipse-1-1"></use>
                </svg>
                <p>
                  At the same time, prepare a water bath. Melt the butter on it.
                </p>
              </li>
              <ul class="sale-unit-list">
                <li class="made-unit-item">
                  <svg class="header-soc-icon" width="8" height="8">
                    <use href="./img/icons.svg#icon-Ellipse-1-1"></use>
                  </svg>
                  <p>
                    "Mix" the milk mixture and already liquid butter.
                     Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.
                  </p>
                </li>
                  <li class="made-unit-item">
                    <svg class="header-soc-icon" width="8" height="8">
                      <use href="./img/icons.svg#icon-Ellipse-1-1"></use>
                    </svg>
                    <p>
                      Heat the mixture over low heat, letting it barely boil.
                    </p>
                  </li>              
                    <li class="made-unit-item">
                      <svg class="header-soc-icon" width="8" height="8">
                        <use href="./img/icons.svg#icon-Ellipse-1-1"></use>
                      </svg>
                      <p>
                        Pour the chocolate into special containers (can be replaced with ice molds).
                         Allow to cool and harden. 
                      </p>
                    </li>
        </ul>

       
  </div>
</section>
