<section id="go-products" class="products">
  <div class="container">
    <h2 class="products-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="products-title-color"> TASTE </span> SENSATION
    </h2>
    <ul class="products-list">
      <li class="products-item bg-items-orang">
        <picture class="products-foto">
          <source
            src="
            ./img/products/des-chok1-cat.webp 1x,
            ./img/products/des-chok1-cat2x.webp 2x
                      "
            media="(min-width: 1200px)"
          />

          <source
            src="
            ./img/products/chok1-mob.webp 1x,
           ./img/products/chok1-mob2x.webp 2x
                    "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/des-chok1-cat.webp"
            alt="chokolad"
            width="236"
          />
        </picture>

        <div class="product-cover">
          <div>
            <h2 class="product-cover-title">MILK CHOCOLATE</h2>
            <div class="products-model-box">
              <div class="product-cover-bat">chocolate</div>
              <div class="product-cover-bat-two">the benefits</div>
            </div>
            <p class="product-cover-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
        <p class="products-text products-text-color">MILK CHOCOLATE</p>
        <div class="product-vector">
          <svg class="product-vector-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </li>
      <li class="products-item br-items">
        <picture class="products-foto">
          <source
            src="
            ./img/products/des-milk2-cat.webp   x,
            ./img/products/des-milk2-cat2x.webp 2x
                      "
            media="(min-width: 1200px)"
          />

          <source
            src="
           ./img/products/milk2-mob.webp 1x,
            ./img/products/milk2-mob2x.webp 2x
                    "
            media="(max-width: 767px)"
          />
          <img
            src="../img/products/des-milk2-cat.webp"
            alt="milk"
            width="236"
          />
        </picture>
        <div class="product-cover">
          <div>
            <h2 class="product-cover-title">MILK</h2>
            <div class="products-model-box">
              <div class="product-cover-bat">milk</div>
              <div class="product-cover-bat-two">the benefits</div>
            </div>
            <p class="product-cover-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
        <p class="products-text products-text-colors">MILK</p>
        <div class="product-vector product-vector-color">
          <svg
            class="product-vector-icon product-vector-icon-color"
            width="24"
            height="24"
          >
            <use href="./img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
        <!-- <div class="product-cover-box">
          <p class="product-cover-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div> -->
      </li>
      <li class="products-item bg-items-black">
        <picture class="products-foto">
          <source
            src="
              ./img/products/des-nut3-cat.webp 1x,
              ./img/products/des-nut3-cat2x.webp 2x
                        "
            media="(min-width: 1200px)"
          />

          <source
            src="
              ./img/products/nut3-mob.webp 1x,
             ./img/products/nut3-mob2x.webp 2x
                      "
            media="(max-width: 767px)"
          />
          <img src="./img/products/des-nut3-cat.webp" alt="nut" width="236" />
        </picture>
        <p class="products-text products-text-color">NUTS</p>
        <div class="product-vector">
          <svg class="product-vector-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </li>
      <li class="products-item br-items">
        <picture class="products-foto">
          <source
            src="
              ./img/products/des-bobu4-cat.webp 1x,
              ./img/products/des-bobu4-cat2x.webp 2x
                        "
            media="(min-width: 1200px)"
          />

          <source
            src="
              ./img/products/bobu4-mob.webp 1x,
            ./img/products/bobu4-mob2x.webp 2x
                      "
            media="(max-width: 767px)"
          />
          <img
            src="../img/products/des-bobu4-cat.webp"
            alt="bobu"
            width="236"
          />
        </picture>
        <p class="products-text products-text-colors">sEMI - SWEET CHOCOLATE</p>
        <div class="product-vector product-vector-color">
          <svg
            class="product-vector-icon product-vector-icon-color"
            width="24"
            height="24"
          >
            <use href="./img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </li>
      <li class="products-item bg-items-orang mob-items">
        <picture class="products-foto">
          <source
            src="
            ./img/products/des-cacbob5-cat.webp 1x,
            ./img/products/des-cacbob5-cat2x.webp 2x
                      "
            media="(min-width: 1200px)"
          />

          <source
            src="
            ./img/products/cacbob5-mob.webp 1x,
           ./img/products/cacbob5-mob2x.webp 2x
                    "
            media="(max-width: 767px)"
          />
          <img
            src="../img/products/des-cacbob5-cat.webp"
            alt="cacbob"
            width="236"
          />
        </picture>
        <p class="products-text products-text-color">CACAO</p>
        <div class="product-vector">
          <svg class="product-vector-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </li>
      <li class="products-item br-items mob-items">
        <picture class="products-foto">
          <source
            src="
            ./img/products/des-raspberry6-cat.webp 1x,
            ./img/products/des-raspberry6-cat2x.webp 2x
                      "
            media="(min-width: 1200px)"
          />

          <source
            src="
            ./img/products/raspberry6-mob.webp 1x,
           ./img/products/raspberry6-mob2x.webp 2x
                    "
            media="(max-width: 767px)"
          />
          <img
            src="./img/products/des-raspberry6-cat.webp"
            alt="raspberry"
            width="236"
          />
        </picture>
        <p class="products-text products-text-colors">RASPBERRY</p>
        <div class="product-vector product-vector-color">
          <svg
            class="product-vector-icon product-vector-icon-color"
            width="24"
            height="24"
          >
            <use href="./img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </li>
      <li class="products-item bg-items-black mob-items">
        <picture class="products-foto">
          <source
            src="
            ./img/products/des-im7-cat.webp 1x,
            ./img/products/des-cocos7-cat2x.webp 2x
                      "
            media="(min-width: 1200px)"
          />

          <source
            src="
            ./img/products/cocos7-mob.webp 1x,
           ./img/products/cocos7-mob2x.webp 2x
                    "
            media="(max-width: 767px)"
          />
          <img src="../img/products/des-im7-cat.webp" alt="cocos" width="236" />
        </picture>
        <p class="products-text products-text-color">COCONUT OIL</p>
        <div class="product-vector">
          <svg class="product-vector-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
